# Entornos virtuales
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Pytest y Cobertura
.pytest_cache/
.coverage
htmlcov/

# Linters
.ruff_cache/

# Archivos de sistema operativo e IDEs
# Scripts auxiliares
generar_pdf.py
